<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="d-flex justify-content-center container-login100" style="background-image: url('images/bg-01.jpg');">

            <!-- function to render and format time -->
            <% function msToTime(duration) { %>
                <% var milliseconds = Math.floor((duration % 1000) / 100), seconds = Math.floor((duration / 1000) % 60), minutes = Math.floor((duration / (1000 * 60)) % 60), hours = Math.floor((duration / (1000 * 60 * 60)) % 24); %>
                <% hours = (hours < 10) ? "0" + hours : hours; %>
                <% minutes = (minutes < 10) ? "0" + minutes : minutes; %>
                <% seconds = (seconds < 10) ? "0" + seconds : seconds; %>
                <% return hours + ":" + minutes + ":" + seconds; %>
            <% } %>
            <%  const leaveHours = (a) => { %>
                <% const hours = a.split(':'); %>
                <% const seconds =  hours[0]*3600 + hours[1]*60; %>
                <% return seconds %>
            <% } %>
        
            <% const timeUsed = (startTime, endTime) => { %>
                <% const difference = (leaveHours(endTime) - leaveHours(startTime))/28800 %>
                <% return difference %>
            <% } %>
        
            <% const timeRemaining = (timeUsed1, timeUsed2, dayUsed) => { %>
                <% const remaining = (timeUsed1 + timeUsed2 + dayUsed).toFixed(2); %>
                <% return remaining %>
            <% } %>
            <div class="container mt-3 mb-3">
                <div class="card" style="width: 100%">
                    <div class="card-header d-flex justify-content-center">
                        <h1 class="text-uppercase fw-bolder text-primary mt-3">Tra cứu thông tin giờ làm</h1>
                    </div>
                    
                    <!-- show check in - check out of staff -->
                    <div class="m-3">
                        <div>
                            <h3 style="font-weight: bold; color: blue">Thời gian làm việc</h3>
                        </div>
                        <div class="d-flex justify-content-center">
                            <form action="/time-checking/numberofLine" method="POST">
                                <h6>Số dòng hiển thị</h6>
                                <div class="text-center">
                                    <input type="radio" id="placeChoice1" name="numberofLine" value="10">
                                    <label for="placeChoice1">10</label>
              
                                    <span class="m-3">|</span>
              
                                    <input type="radio" id="placeChoice2" name="numberofLine" value="15">
                                    <label for="placeChoice2">15</label>
              
                                    <span class="m-3">|</span>
                                    
                                    <input type="radio" id="placetChoice3" name="numberofLine" value="20">
                                    <label for="placetChoice3">20</label>
              
                                    <input type="hidden" value="<%= props._id %>" name="userId">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button type="submit" class="btn btn-outline-success btn-lg fs-6 m-2">Hiển thị</button>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex justify-content-center">            
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Check In</th>
                                    <th scope="col">Check Out</th>
                                    <th scope="col">Work Time</th>
                                    <th scope="col">Over Time</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-center">Work Place</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <!-- Vòng lặp -->
                                    <% for (let i = 0; i < length; i++) { %>
                                        <tr>
                                            <th scope="row"><%= i+1 %></th>
                                            <td><%= new Date(checkinList[i].time).getHours() %>:<%= new Date(checkinList[i].time).getMinutes() %>:<%= new Date(checkinList[i].time).getSeconds() %></td>
                                            <% if (checkoutList[i].id) { %>
                                                <td><%= new Date(checkoutList[i].time).getHours() %>:<%= new Date(checkoutList[i].time).getMinutes() %>:<%= new Date(checkoutList[i].time).getSeconds() %></td>
                                                <td><%= msToTime(new Date(checkoutList[i].time) - new Date(checkinList[i].time)) %></td>
                                            <% } else { %>
                                                <td>--</td>
                                                <td>Chưa kết thúc</td>
                                            <% } %>
                                            <% if ((new Date(checkoutList[i].time) - new Date(checkinList[i].time)) >= 28800000) { %>
                                                <td><%= msToTime(new Date(checkoutList[i].time) - new Date(checkinList[i].time) - 28800000) %></td>
                                            <% } else { %>
                                                <td>--</td>
                                            <% } %>
                                            <td><%= new Date(checkinList[i].time).getDate() %>/<%= new Date(checkinList[i].time).getMonth() + 1 %>/<%= new Date(checkinList[i].time).getFullYear() %></td>
                                            <td class="text-center text-uppercase"><%= checkinList[i].workLocation %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>                 
                        </div>
                        <section class="pagination d-flex justify-content-center">
                            <% if (currentPage !== 1 && previousPage !== 1) { %>
                                <a href="/time-checking/?page=1" class="btn btn-outline-primary m-1">1</a>
                            <% } %>
                            <% if (hasPreviousPage) { %>
                                <a href="/time-checking/?page=<%= previousPage %>" class="btn btn-outline-primary m-1"><%= previousPage %></a>
                            <% } %>
                            <a href="/time-checking/?page=<%= currentPage %>" class="btn btn-outline-primary m-1 active"><%= currentPage %></a>
                            <% if (hasNextPage) { %>
                                <a href="/time-checking/?page=<%= nextPage %>" class="btn btn-outline-primary m-1"><%= nextPage %></a>
                            <% } %>
                            <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                            <a href="/time-checking/?page=<%= lastPage %>" class="btn btn-outline-primary m-1"><%= lastPage %></a>
                            <% } %>
                        </section>
                    </div>

                    <!-- show annual leave -->
                    <div class="m-3">
                        <div>
                            <h3 style="font-weight: bold; color: blue">Thông tin đăng ký nghỉ phép</h3>
                        </div>
                        <div class="d-flex justify-content-center">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Ngày bắt đầu</th>
                                    <th scope="col">Giờ bắt đầu</th>
                                    <th scope="col">Ngày kết thúc</th>
                                    <th scope="col">Giờ kết thúc</th>
                                    <th scope="col">Tổng ngày phép</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <!-- Vòng lặp -->
                                    <% for (let i = 0; i < annualLeave.length; i++) { %>
                                        <tr>
                                            <th scope="row"><%= i+1 %></th>
                                            <td><%= new Date(annualLeave[i].startDate).getDate() %>/<%= new Date(annualLeave[i].startDate).getMonth() + 1 %>/<%= new Date(annualLeave[i].startDate).getFullYear() %></td>
                                            <td><%= annualLeave[i].startHours %></td>
                                            <td><%= new Date(annualLeave[i].endDate).getDate() %>/<%= new Date(annualLeave[i].endDate).getMonth() + 1 %>/<%= new Date(annualLeave[i].endDate).getFullYear() %></td>
                                            <td><%= annualLeave[i].endHours %></td>
                                            <% if (new Date(annualLeave[i].endDate) > new Date(annualLeave[i].startDate)) { %>
                                                <td><%= timeRemaining(timeUsed(annualLeave[i].startHours, '17:00'), timeUsed('9:00', annualLeave[i].endHours), (new Date(annualLeave[i].endDate) - new Date(annualLeave[i].startDate))/86400000 - 1) %></td>
                                            <% } else { %>
                                                <td><%= timeUsed(annualLeave[i].startHours, annualLeave[i].endHours).toFixed(2) %></td>
                                            <% } %>                                
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="m-3">
                        <div>
                            <h3 style="font-weight: bold; color: blue">Tên quản lý: <%= manager %></h3>
                        </div>
                    </div>

                    <div class="m-3">
                        <div>
                            <h3 style="font-weight: bold; color: blue">Thông tin Lương</h3>
                        </div>
                        <form action="/time-checking" method="POST">
                            <label for="time">Chọn tháng </label>
                            <input type="month" id="time" name="time">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </form>
                    </div>

                    <!-- show total salary after chose month -->
                    <div class="<%= (salary) ? 'showForm' : 'noneForm' %>">
                        <div class="card d-flex justify-content-center" style="width: auto;">
                            <div class="card-body">
                                <h5 class="card-title">Chi tiết lương tháng <%= month %></h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Họ và tên</th>
                                            <th scope="col">Phòng ban</th>
                                            <th scope="col">Ngày phép tồn</th>
                                            <th scope="col">Hệ số lương</th>
                                            <th scope="col">Lương</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><%= 1 %></th>
                                            <td><%= props.name %></td>
                                            <td><%= props.department %></td>
                                            <td><%= props.annualLeave %></td>
                                            <td><%= props.salaryScale %></td>
                                            <td><%= salary %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </main>
        <%- include('../includes/end.ejs') %>